* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

body {
	background-color: grey;
}

h1 {
	color: orange;
	text-shadow: 2px 2px black;
	text-align: center;
	font-size: 75px;
}

button {
	font-size: 30px;
	border: 1px solid black;
	border-radius: 25px;
	cursor: pointer;
	display: block;
	width: 400px;
	height: 100px;
	align: center;
	padding: 15px 32px;
	margin: 10px auto;
}

button:hover {
	background-color: orange;
}